# Compiled class file
*.class

# Log file
*.log

# Mac DS_Store
**/*.DS_Store

# Package files
*.ear
*.jar
*.nar
*.rar
*.tar.gz
*.war
*.zip

# Virtual machine crash logs
hs_err_pid*

# Java build target
target/

# Local GreptimeDB quickstart data
greptimedb_data/

# Dev tools
.idea/
*.iml
.vscode/*

# Java language server
.classpath
.factorypath
.project
.settings/

# Local backup files
*.bak
